@model IEnumerable<EventsPlus.Models.EventType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>Hello there! Can't see the whole table? Try scrolling the table side-to-side!</p>
<div class="table-container">
    <table class="table table-borderless table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EventTypeID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventTypeID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.EventTypeID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.EventTypeID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.EventTypeID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
